absl-py==2.1.0
accelerate==1.3.0
aiohttp==3.9.5
aiosignal==1.3.1
apex @ file:///var/lib/jenkins/apex
asgiref==3.8.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
beautifulsoup4==4.13.3
bitsandbytes==0.45.2
boto3==1.19.12
botocore==1.22.12
bs4==0.0.2
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coremltools==5.0b5
Cython==3.0.10
debugpy==1.8.12
decorator==5.1.1
Django==5.0.6
exceptiongroup==1.2.1
execnet==2.1.1
expecttest==0.1.6
filelock==3.13.1
flatbuffers==2.0
frozenlist==1.4.1
fsspec==2024.2.0
future==1.0.0
geojson==2.5.0
ghstack==0.7.1
google-auth==2.30.0
google-auth-oauthlib==1.0.0
grpcio==1.64.1
huggingface-hub==0.28.1
hypothesis==5.35.1
idna==3.7
image==1.5.33
imageio==2.34.1
importlib-metadata==3.10.1
iniconfig==2.0.0
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.4.2
junitparser==2.1.1
lazy_loader==0.4
librosa==0.10.2.post1
lintrunner==0.10.7
llvmlite==0.38.1
lxml==5.2.2
Markdown==3.6
MarkupSafe==2.1.5
mkl-fft==1.3.1
mkl-random @ file:///home/builder/ci_310/mkl_random_1641843545607/work
mkl-service==2.4.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
mypy==1.4.1
mypy-extensions==1.0.0
networkx==2.8.8
numba==0.55.2
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1653325310407/work
oauthlib==3.2.2
opt-einsum==3.3.0
optionloop==1.0.7
packaging==24.0
Pillow==9.5.0
platformdirs==4.2.2
pluggy==1.5.0
pooch==1.8.2
protobuf==3.20.2
psutil==5.9.8
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
Pygments==2.15.0
pytest==7.3.2
pytest-cpp==2.3.0
pytest-flakefinder==1.1.0
pytest-rerunfailures==14.0
pytest-shard==0.1.2
pytest-xdist==3.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyWavelets==1.6.0
PyYAML @ file:///croot/pyyaml_1698096049011/work
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rockset==1.0.3
rsa==4.9
s3transfer==0.5.2
safetensors==0.5.2
scikit-image==0.20.0
scikit-learn==1.5.0
scipy==1.8.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.6
soxr==0.3.7
sqlparse==0.5.0
sympy==1.12.1
tb-nightly==2.13.0a20230426
tensorboard==2.13.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
tifffile==2024.5.22
tokenizers==0.21.0
tomli==2.0.1
torch @ file:///var/lib/jenkins/pytorch/dist/torch-2.1.2%2Bgit53da8f8-cp310-cp310-linux_x86_64.whl#sha256=979b3bce9dd656d99fc36fd53c9653957b882cd8e42c31fe5ac5cb8a04e8737c
torchvision==0.16.1+fdea156
tqdm==4.66.4
transformers==4.48.3
triton @ git+https://github.com/ROCmSoftwarePlatform/triton@4d510c3a44d23aacfbce21ed1b2853e8e09e9f90#subdirectory=python
typing_extensions==4.12.2
unittest-xml-reporting==3.2.0
urllib3==1.26.18
Werkzeug==3.0.3
xdoctest==1.1.0
yarl==1.9.4
z3-solver==4.12.2.0
zipp==3.19.2
